@import url(./settings.css);
:root{
  --primary-color:#DCB6A9;
  --primary-color-mono-1:#5C4C47;
  --primary-color-mono-2:#E1886A;
  --primary-color-mono-3:#5C372B;
  --primary-color-mono-4:#A88B82;

  --indicator-color-positive:#7BED8D;
  --indicator-color-positive-light:#7bed8c93;
  --indicator-color-negative:#CF6679;
  --indicator-color-disabled:#A6BCD0;
  --indicator-color-disabled-light:rgba(166,188,208,0.48);

  --navbar-top:56px;
  --footer-bottom:40px;
  --font-button:14px Roboto-Medium,'Roboto';
  --font-heading:20px Roboto-Medium,'Roboto';
  --font-body:14px Roboto-Regular,'Roboto';
  --font-top-label:smaller Roboto-Regular,'Roboto';
  --font-placeholder:16px Roboto-Regular,'Roboto';
  --font-ingredient-font: 12px Roboto-Regular,'Roboto';

  --transition-navigation:.3s cubic-bezier(0.4,0,0.2,1);
  --animation-navigation: highlights ease-in-out .5s normal forwards;
  --animation-dropdown: dropdown ease-in-out .5s normal forwards;

  --border-inactive-input:2px solid #00000038;
  --border-active-input:2px solid var(--primary-color-mono-2);
  --border-success-input:2px solid var(--indicator-color-positive);
  --border-unsuccessful-input:2px solid var(--indicator-color-negative);

  --label-padding: 0 10px;
}

@keyframes highlights {
  from{
    fill:transparent
  }
  to{
    fill:var(--indicator-color-positive-light)
  }
}
@keyframes dropdown {
  from{
    top:-1000px
  }
  to{
    top:0
  }
}
input::-webkit-input-placeholder{
  font:var(--font-top-label);
  padding: var(--label-padding);
}
input::-ms-input-placeholder{
  font:var(--font-top-label);
  padding: var(--label-padding);
}
input:-ms-input-placeholder{
  font:var(--font-top-label);
  padding: var(--label-padding);
}
input:-webkit-autofill{
  font:var(--font-top-label);
  padding: var(--label-padding);
}
*{
  margin: auto;
  border:none;
  outline:none;
}
body,html{
  margin:0;
  height: 100%;
  display: grid;
  display: -ms-grid;
  align-content: space-between;
}
main{
  /* max-height:calc(100vh - var(--navbar-top) - var(--footer-bottom) - 48px) ; */
  /* max-height:calc(100vh - 108px); */
  -ms-overflow-style: none;
  /* for Internet Explorer, Edge */
  scrollbar-width: none;
  position: relative;
  /* for Firefox */
  width: 100%;
}
main::-webkit-scrollbar{
  display: none;
}

#navigation-bar{
  display: block;
  background: var(--primary-color-mono-3);
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 99;
  width: 100%;
}
#nav-bar{
  height: 56px;
}
#side-bar{
  top: -1000px;
  z-index: -4;
  animation: var(--animation-dropdown-reverse);
}
#side-bar[dropdown=true]{
  animation: var(--animation-dropdown);
}

input,button{
  cursor: pointer;
  transition: var(--transition-navigation);
  -webkit-tap-highlight-color: transparent;
}
button {
  background: transparent;
  font:var(--font-button);
  
}
#navigation-button-menu {
  float: left;
}
#navigation-button-next-right {
  float: right;
}
#navigation-button-next-right #next-right,
#navigation-button-next-right text
{
  fill: var(--indicator-color-positive);
}
#↳Color{
  fill:var(--indicator-color-positive)
}
#frBtn[disabled = true] ~ g #↳Color{
  fill: var(--indicator-color-disabled);
}
#frBtn[disabled = true] ~ text{
  fill: var(--indicator-color-disabled);
}

.MainContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-content: center;
  padding-bottom: 30px;
}
#workout-svg{
}
#navigation-button-continue{
}
#page_link{
  bottom: 20px;
  left: 0;
  right: 0;
  position: fixed;
  width: fit-content;
  width: -moz-fit-content;
}
#nav-dot {
  width: 10px;
  height: 10px;
  fill: var(--indicator-color-disabled-light);
}
#nav-dot[active=true]{
  fill:var(--primary-color)
}

#form-header{
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 12;
  background: white;
  margin-bottom: 20px;
  border-bottom: 0.5px solid #0000001c;
  float: left;
}
#form-header-text{
  font:var(--font-heading)
}
#onboarding-text{
  font:var(--font-body)
}
#ingredient-slot{}
.main-content{
  height: 100%;
  width: 100%;
}
#content{}
.input-container {
  width: 328px;
  height: 74px;
  position: relative;
  z-index: 11;
  margin: 10px auto;
}
.input-container[disabled=true]{
  display: none;
}
.input-slot {
  width: 280px;
  height: 60px;
  z-index: 1;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 4px;
}
.input-rect-input{
  width: 280px;
  height: 60px;
  border-radius: 4px;
  outline: var(--border-inactive-input);
  font:var(--font-placeholder);
  padding: var(--label-padding);
  margin: 0;
  font:var(--font-heading);
}
.input-rect-input:focus-within,
.input-rect-input:focus-visible
{
  outline: var(--border-active-input);
}
.input-rect-input:focus-within ~ .top-label-slot,
.input-rect-input:focus-visible ~ .top-label-slot
{
  visibility: visible;
}
.input-rect-input[isinputok=true]{
  outline: var(--border-success-input);
}
.input-rect-input[isinputok=false]{
  outline: var(--border-unsuccessful-input);
}

.outline-symbol-slot {
  z-index: 10;
  background: white;
  position: absolute;
  top: 0;
  bottom: 0;
  left: -5px;
  width: 24px;
  height: 24px;
}
.input-dialog{
  z-index: 11;
  font:var(--font-top-label);
  white-space: nowrap;
  background: white;
  position: absolute;
  bottom: 0;
  left: 50px;
  padding: var(--label-padding);
  visibility: hidden;
}
.input-dialog.visible{
  visibility: visible;
  color:var(--indicator-color-negative)
}
.top-label-slot {
  z-index: 11;
  text-align: center;
  font:var(--font-top-label);
  position: absolute;
  left: 0;
  right: 0;
  top:-5px;
  white-space: nowrap;
  background: white;
  max-width: 50px;
  padding: var(--label-padding);
  visibility: hidden;
}
.top-label-slot[isinputok=false]{
  color: var(--indicator-color-negative);
}
.top-label-slot[isinputok=true]{
  visibility: visible;
  color: var(--indicator-color-positive);
}
.outline-emoji {
  z-index: 11;
  right: 0;
  position: absolute;
  top:0;
  bottom:0;
  right: 0;
  width: 24px;
  height: 24px;
  background: white;
  visibility: hidden;
}
.outline-emoji[isinputok=true]{
  visibility: visible;
}
label{
  font:var(--font-top-label)
}
input[type="checkbox"],
input[type="radio"]{
  width: 37px;
  height: 26px;
  position: absolute;
  appearance: none;
  
}
#checkbox-container{
  float: right;
}
#checkbox-button{
  transition: var(--transition-navigation);
}
input[type="checkbox"]:checked ~ svg #checkbox-button{
  transform: translate(3px);
}
input[type="checkbox"]:checked ~ svg #checkbox-button #checkbox-thumb{
  fill: var(--indicator-color-positive);
}
input[type="checkbox"]:checked ~ svg #checkbox-track{
  fill:var(--indicator-color-positive-light)
}
input[type="checkbox"]:hover ~ svg #checkbox-button #checkbox-thumb-hover,
input[type="checkbox"]:active ~ svg #checkbox-button #checkbox-thumb-hover
{
  animation: var(--animation-navigation);
}
.helper-button{
  width: 24px;
  height: 24px;
  position: absolute;
  z-index: 1;
  right: 0;
  background: white;
  padding: 0;
}
p{
  font:var(--font-body)
}
span#ptext {
  width: 100px;
  float: left;
}